# Introduction to SQL and Advanced Functions â€“ Assignment Solutions

Assignment Code: DA-AG-014

This notebook contains all questions with clear answers and SQL queries.

## Question 1
DDL defines structure (CREATE), DML manipulates data (INSERT), and DQL retrieves data (SELECT).

## Question 2
Constraints maintain data integrity such as PRIMARY KEY, NOT NULL, and FOREIGN KEY.

## Question 3
LIMIT restricts rows, OFFSET skips rows. Third page (10 records): LIMIT 10 OFFSET 20.

## Question 4
CTE improves readability and reuse of subqueries using WITH clause.

## Question 5
Normalization removes redundancy using 1NF, 2NF, and 3NF.

In [ ]:
-- Database and Tables
CREATE DATABASE ECommerceDB;
USE ECommerceDB;

In [ ]:
-- Orders per Customer
SELECT c.CustomerName, COUNT(o.OrderID) AS TotalOrders
FROM Customers c LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerName;

In [ ]:
-- Product with Category
SELECT p.ProductName, p.Price, c.CategoryName
FROM Products p JOIN Categories c
ON p.CategoryID = c.CategoryID;

In [ ]:
-- Top 2 Products per Category
WITH Ranked AS (
SELECT c.CategoryName, p.ProductName, p.Price,
ROW_NUMBER() OVER(PARTITION BY c.CategoryName ORDER BY p.Price DESC) rn
FROM Products p JOIN Categories c ON p.CategoryID=c.CategoryID)
SELECT * FROM Ranked WHERE rn<=2;

## Question 10
Business analytics using Sakila DB with aggregation, joins, and window functions.